.distill-site-nav {
  font-family: 'IBM Plex Sans', sans-serif;
  color: rgba(20, 20, 20, 0.8);
  background-color: white;
  font-size: 15px;
  font-weight: 400;
}

.distill-site-nav a {
  color: inherit;
  text-decoration: none;
}

.distill-site-nav a:hover {
  color: #008080;
}

h1, h2 {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 600 !important;
}

h1 span.uk-label {
  font-family: 'IBM Plex Sans', sans-serif;
}

h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600 !important;
}

html, body, p {
  font-family: 'IBM Plex Sans', sans-serif;
}

.posts-list .description p {
    font-family: 'IBM Plex Sans', serif !important;
    color: gray !important;
}

.posts-list .description h2 {
  font-family: 'IBM Plex Serif', serif !important;
  font-size: 1.3em !important;
}

#search_widget {
  border: 0 solid #ccc;
  text-align: left;
  display: none;
}

#search_widget button {
  background-color: #aaaaaa;
  color: white;
  margin-top: 10px;
}

d-article iframe {
  border: none;
  overflow: hidden;
}

.posts-list .post-preview .thumbnail {
  text-align: center;
}

.posts-list .post-preview .thumbnail img {
  max-height: 250px;
  width: auto;
  display: inline;
}

d-article li {
  margin-bottom: 0.5em;
}

small {
  line-height: 1.1em;
}

.google-slides-container{
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
}

.google-slides-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
